/* styles.css */

.all-boardings-page {
    padding: 20px;
    text-align: center;
}

.boarding-list {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boarding-item {
    width: 320px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boarding-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.boarding-content {
    margin-top: 10px;
}

.star-rating {
    color: #ffd700; /* Golden yellow color for stars */
    margin-top: 5px;
}

.star-filled {
    color: #ffd700; /* Yellow color for filled stars */
}

.star-empty {
    color: #ccc; /* Empty star color */
}

.price {
    font-size: 18px;
    color: #007bff; /* Blue color for price */
}

.availability-button {
    background-color: #007bff; /* Blue color for the button */
    color: #fff; /* White text color for the button */
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: not-allowed; /* Make the button unclickable */
}

/* Additional styles for text, h2, etc. */
h2 {
    color: #333;
}

p {
    color: #555;
}

